.wrapper{
    border: 1px solid #dadde1;
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    margin: 30px auto;
}
li{
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
#city{
  font-size: 50px;
  font-weight: bold;
}
.weather-forecast-temperature-min
{
  opacity: 0.5
}
.metric{
  opacity: 0.5
}
#icon{
  width: 100px;
}
.container{
  margin: 0 auto;
}